#description {
 padding: 10px 0;
 width: 600px;
 font-size: 18px;
}

iframe {
 width: 100%;
 height: auto;
 border-radius: 20px;
}

@media (max-width: 640px) {
 #description {
  padding: 10px 0;
  width: 200px;
  font-size: 14px;
 }
 iframe {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 10px;
 }
}
